.light-theme {
    --bg-color: hsl(0, 23%, 95%);
    --color:black;
    /* --color: hsl(249, 11%, 12%); */

    --card-bg-color: hsl(0, 23%, 90%);
    --heading-color: hsl(255, 50%, 30%);
    /* --big-text-color: hsl(180, 58%, 50%); */
    --big-text-color: hsl(221, 69%, 30%);
    --tooltip-color: black;

    --shadow-color: hsl(0, 0%, 50%);
}

.dark-theme {
    /* --bg-color: hsl(231, 15%, 18%); */
    --color: hsl(180, 58%, 90%);

    /* github colors: */
    --bg-color: hsl(216, 28%, 7%);
    --card-bg-color: hsl(215, 21%, 11%);

    /* --card-bg-color: hsl(231, 15%, 18%); */
    --heading-color: hsl(265, 89%, 90%);
    --big-text-color: var(--color);
    --tooltip-color: white;

    --shadow-color: hsl(231, 15%, 18%);
}

/* Put all the .dark-theme / .light-theme stuff in here if I ever decide to use this */
/* @media (prefers-color-scheme: dark) { } */
/* @media (prefers-color-scheme: light) { } */

body {
    background-color: var(--bg-color);
    color: var(--color);

    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

hr {
    background-color: var(--color);
    border-style: solid;
}

strong {
    font-weight: 900;
}

/* Might change this to a class so that .p-color doesn't need to exist */
h1, h2, h3 {
	color: var(--heading-color);
}

/* Useful when wanting to use the normal color on headings */
.p-color {
    color: var(--color);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    margin: 0 auto;
    border-bottom: solid;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    
    padding-block: 1em;
}

.footer-container {
    width: 50%;
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

a, a:visited {
    text-decoration: none;
    color: var(--heading-color);
}

a:hover {
    color: var(--color);
}

.link:hover {
    color: var(--color);
}

/* This makes it so that the scrollbar doesn't appear on the header,
    instead only showing up on the main content below it */
.scrollable-main {
    /* move below the header */
    position: absolute;
    top: 70px;
    bottom: 0;

    /* center the children */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    /* no horizontal scrollbar */
    overflow-y: auto;
    overflow-x: hidden;
}

/* Basic container that centers its children */
.center-container {
    /* used to be flex but grid is easier */
    display: grid;
    place-items: center;
}

button {
    color: var(--heading-color);
    background-color: var(--card-bg-color);
    border-style: solid;
    padding: 0 1em;
}

#theme-toggle {
    cursor: pointer;
    color: var(--tooltip-color);
    background-color: var(--bg-color);
    border: 0;
    padding: 0.5rem;
    border-radius: 50%;
    
    opacity: 0.75;
    transition: background-color 70ms linear;

    height: 40px;
    width: 40px;
    position: relative;
}

#theme-toggle:hover {
    opacity: 1;
    background-color: hsl(0 0% 50% / 0.25);
}

/* Theme toggle tooltip */
#theme-toggle::after {
    background-color: var(--tooltip-color);
    color: var(--bg-color);

    content: attr(aria-label);
    font-size: 1rem;

    position: absolute;
    width: max-content;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0 auto;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;

    opacity: 0;
    transform-origin: top;
    transform: translateX(-33%) scale(0);
    transition: transform 70ms linear, opacity 70ms linear;
}

/* Show theme toggle tooltip on mouse hover */
#theme-toggle:hover::after {
    opacity: 0.7;
    transform: translateX(-33%) scale(1);
}

.fancy-big-text {
    cursor: pointer;
    color: transparent;
    margin: 0.25em;

    font-family: 'Meta', sans-serif;
    font-size: 6rem;
    text-align: center;
    -webkit-text-stroke: 4px var(--big-text-color);
    

    transition: all 500ms;
    font-variation-settings: 'weight' 900, 'ital' 1;
    text-shadow: 10px 10px 0px hsl(185, 93%, 41%),
      15px 15px 0px hsl(310, 99%, 45%),
      20px 20px 0px hsl(320, 99%, 46%),
      25px 25px 0px hsl(335, 97%, 49%),
      40px 40px 7px hsl(257, 58%, 37%);
      /* 45px 45px 10px */
}

.fancy-big-text:hover {
    color: var(--big-text-color);
    font-variation-settings: 'weight' 100, 'ital' 0;
    text-shadow: none;
}

.fancy-link {
    cursor: pointer;
    text-decoration: none;

    background-image: linear-gradient(90deg, var(--color), var(--heading-color));
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0% 3px;
    transition: background-size 200ms ease;
}

.fancy-link:hover {
    background-size: 100% 3px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 0.75em;
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 3px grey; */
    background-color: var(--card-bg-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--heading-color); 
    border-radius: 10px;
}

/* Figure out how to make this color darker using the variable */
/* ::-webkit-scrollbar-thumb:active {
    background-color: var(--heading-color);
} */

.card {
    padding: 2rem;
    margin-inline: 2em;
    border-radius: 0.5rem;
    background-color: var(--card-bg-color);
    box-shadow: 5px 5px 5px var(--shadow-color);
    transition: ease 150ms;
    border: 1px inset var(--color);
}

.card:hover {
    cursor: pointer;
    transform: translate(5px, 5px);
    box-shadow: none;
}

.card-flexbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;

    padding-block: 2rem;
    min-width: 80vw;
    margin: 0 auto;
}

.project-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;

    padding-block: 2rem;
    min-width: 80vw;
    margin: 0 auto;
}

/* Responsive Layout */
@media (min-width: 40em) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 50em) {
    .project-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}