.light-theme {
    --bg-color: hsl(46, 55%, 94%);
    /* hsl(0, 23%, 95%); */
    --color:black;
    /* --color: hsl(249, 11%, 12%); */
    --accent: hsl(339, 82%, 51%);
    /* old: hsl(335, 97%, 49%); */
    

    --card-bg-color: hsl(46, 55%, 89%);
    /* hsl(0, 22%, 90%); */
    /* hsl(40, 21%, 95%); */
    --heading-color: var(--accent);
    /* hsl(255, 50%, 30%); */

    /* --big-text-color: hsl(180, 58%, 50%); */
    --big-text-color: hsl(327, 46%, 45%);
    /* --big-text-color: hsl(180, 58%, 60%) hsl(221, 69%, 30%); */
    --tooltip-color: black;

    --shadow-color: var(--accent);
    /* hsl(0, 0%, 50%); */
}

.dark-theme {
    /* --bg-color: hsl(231, 15%, 18%); */
    /* --color: hsl(180, 58%, 90%); */
    --color: white;
    --accent: hsl(265, 89%, 90%);

    /* github colors: */
    --bg-color: hsl(216, 28%, 7%);
    --card-bg-color: hsl(215, 21%, 11%);

    /* --card-bg-color: hsl(231, 15%, 18%); */
    --heading-color: var(--accent);
    --big-text-color: var(--color);
    --tooltip-color: white;

    --shadow-color: var(--accent);
    /* hsl(231, 15%, 18%); */
}

/* Put all the .dark-theme / .light-theme stuff in here if I ever decide to use this */
/* @media (prefers-color-scheme: dark) { } */
/* @media (prefers-color-scheme: light) { } */

body {
    background-color: var(--bg-color);
    color: var(--color);

    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

hr {
    background-color: var(--color);
    border-style: solid;
    min-width: 18em;
}

strong {
    font-weight: 900;
}

/* Might change this to a class so that .p-color doesn't need to exist */
h1, h2, h3 {
	color: var(--heading-color);
    text-align: center;
}

h3 {
    color: var(--color);
}

/* Useful when wanting to use the normal color on headings */
.p-color {
    color: var(--color);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    margin: 0 auto;
    border-bottom: solid;
    width: 100%;
    height: 6.6vh;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    
    padding-block: 1em;
}

.footer-container {
    width: 50%;
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.red {
    color: red;
}

a, a:visited {
    text-decoration: none;
    color: var(--heading-color);
}

a:hover {
    color: var(--accent);
}

.link:hover {
    color: var(--accent);
}

.disabled {
    pointer-events: none;
}

/* Basic container that centers its children */
.center-container {
    /* used to be flex but grid is easier */
    display: grid;
    place-items: center;
}

button {
    color: var(--heading-color);
    background-color: var(--card-bg-color);
    border-style: solid;
    /* padding: 0 1em; */
}

.nav-button {
    background-color: transparent;
    border: none;
}

/* This makes it so that the scrollbar doesn't appear on the header,
    instead only showing up on the main content below it */
.scrollable-main {
    /* move below the header */
    position: absolute;
    top: 70px;
    bottom: 0;

    /* center the children */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    /* no horizontal scrollbar */
    overflow-y: auto;
    overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    /* width: var(--scroll-width); */
    width: 0.75em;
}

/* ::-webkit-scrollbar-track {
    background-color: var(--card-bg-color);
    border-radius: 10px;
} */

::-webkit-scrollbar-thumb {
    background-color: var(--heading-color); 
    border-radius: 10px;
    /* --scroll-width: 0.25em; */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color);
    /* --scroll-width: 0.75em; */
}

#theme-toggle {
    cursor: pointer;
    color: var(--tooltip-color);
    background-color: var(--bg-color);
    border: 0;
    padding: 0.5rem;
    border-radius: 50%;
    
    opacity: 0.75;
    transition: background-color 70ms linear;

    height: 40px;
    width: 40px;
    position: relative;
}

#theme-toggle:hover {
    opacity: 1;
    background-color: hsl(0 0% 50% / 0.25);
}

/* Theme toggle tooltip */
#theme-toggle::after {
    background-color: var(--tooltip-color);
    color: var(--bg-color);

    content: attr(aria-label);
    font-size: 1rem;

    position: absolute;
    width: max-content;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0 auto;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;

    opacity: 0;
    transform-origin: top;
    transform: translateX(-33%) scale(0);
    transition: transform 70ms linear, opacity 70ms linear;
}

/* Show theme toggle tooltip on mouse hover */
#theme-toggle:hover::after {
    opacity: 0.7;
    transform: translateX(-33%) scale(1);
}

.fancy-big-text {
    cursor: pointer;
    color: var(--big-text-color);
    margin: 0.25em;

    font-family: 'Meta', sans-serif;
    font-size: 6rem;
    text-align: center;
    -webkit-text-stroke: 4px var(--big-text-color);
    
    transition: all 500ms;
    font-variation-settings: 'weight' 100, 'ital' 0;
    text-shadow: none;
}

.fancy-big-text:hover {
    /* color: var(--big-text-color); */
    font-variation-settings: 'weight' 900, 'ital' 1;
    text-shadow: 10px 10px 0px var(--shadow-color);
        /* 15px 15px 0px hsl(257, 58%, 37%); */
}

.fancy-link {
    cursor: pointer;
    text-decoration: none;

    background-image: linear-gradient(90deg, var(--color), var(--heading-color));
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0% 3px;
    transition: background-size 200ms ease;
}

.fancy-link:hover {
    background-size: 100% 3px;
}

.card {
    padding-inline: 0.75rem;
    padding-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--card-bg-color);
    box-shadow: none;
    transition: ease 150ms;
    border: 1px inset var(--color);
    width: 14.5em;
    height: 213.44px;
}

.card:hover {
    cursor: pointer;
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0px var(--shadow-color)
}

.card:hover div.card-image img.image {
    animation: fade 6000ms;
}

.card-image {
    position: relative;
    min-height: 9em;
    width: 100%;
    text-align: center;
}

@keyframes fade {
    0% {
      opacity: 1;
    }
    10% {
        opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

/* maybe use background of the ^ instead of this */
.card-image img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    border: 4px solid var(--color);
    translate: -4px;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-image-text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    font-weight: bold;
    color: white;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.card-flexbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;

    padding-block: 2rem;
    min-width: 80vw;
    margin: 0 auto;
}

.project-grid {
    display: grid;
    gap: 2rem;
    grid-auto-columns: 1fr;
    width: min(90%, 70.5rem);

    padding: 2rem;
    margin: 0 auto;
    place-items: center;
    /* background: hsl(0, 23%, 85%); */
}

/* Responsive Layout */
@media (width < 631px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}

@media (width < 945px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width >= 945px) and (width < 1285px) {
    .project-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width >= 1285px) {
    .project-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
